{
  "$schema": "https://json.schemastore.org/prettierrc",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./styles/tailwind.css",
  "tailwindFunctions": ["clsx", "cn", "tw"],
  "importOrder": ["^@angular/(.*)$", "<THIRD_PARTY_MODULES>", "^@ai-studio/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "classProperties"],
  "attributeGroups": [
    "^(id|name)$",
    "$ANGULAR_STRUCTURAL_DIRECTIVE",
    "$ANGULAR_INPUT",
    "$ANGULAR_TWO_WAY_BINDING",
    "$ANGULAR_OUTPUT",
    "^class$",
    "^style$",
    "$DEFAULT"
  ],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.component.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "preserve",
        "printWidth": 100
      }
    },
    {
      "files": "*.{yml,yaml}",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
